// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

body {
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
-moz-hyphens: auto;
-o-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
hyphens: auto; 
}

h1 {
  font-size: 2.5em !important;
  text-transform: uppercase;
  font-weight: 800 !important;
}
h2 {
  font-size: 2.2em !important;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800 !important;
}
h3 {
  font-size: 1.5em !important;
  text-transform: uppercase;
}
h4 {
  font-size: 1em !important;
}
h5 {
  font-size: 0.8em !important;
}

a {
  // color:white;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none !important;
}

.event-grid-description {
  // width: 60%;
}

.event-grid-items {
  // background-image: url('images/grid/grid_thumb_1.jpg');
  border: 1px solid #eee;
  padding: 2%;
  background-color: #04c09d;
  color: white;
  // width: 40% !important;
}

.event-grid-artist {
  font-size: 1.6em !important;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800 !important;
}

.event-grid-date {
  font-size: 1.0em !important;
  text-transform: normal;
  font-weight: 800 !important;
}

.event-grid-bg-1 {
  background-color: #D7263D;
}
.event-grid-bg-2 {
  background-color: #F46036;
}
.event-grid-bg-3 {
  background-color: #4B3B40;
}
.event-grid-bg-4 {
  background-color: #F1BF98;
}
.event-grid-bg-5 {
  background-color: #F24236;
}

.badge-Twitch {
  color: #fff;
  background-color: #9147ff;
}

.badge-Facebook {
  color: #fff;
  background-color: #1877F2;
}

.badge-Youtube {
  color: #fff;
  background-color: #c00;
}

.event-grid-items:hover {
  border: 1px solid #eee;
  padding: 2%;
  background-color: #07FACC;
  // color: black;
  transition-duration: 1s;
}

.footer-syla {
  background-color: #313131;
  color: white;
}

.footer-button {
  color: white;
}

.margin-container-bottom {
  margin-bottom: 50px;
}
.margin-container-top {
  margin-top: 90px;
}

.padding-containter-bottom {
  padding-bottom: 50px;
}

.navbar-theme {
  background-color: #313131;
  color: white !important;
}

.navbar-theme a {
  // background-color: #313131;
  color: white !important;
}
.navbar-theme a:hover {
  // background-color: #313131;
  // color: white !important;
}

.navbar-link-theme a {
}

.nav-link {
  font-weight: 200;
  font-style: italic;
}

.nav-link:hover {
  font-weight: 200;
  font-style: italic;
  color: #07FACC !important;
  transition: color 200ms ease-in-out;
}

.dropdown-menu {
  background-color: #313131 !important;
}

.footer-btn {

  color:white !important;
  padding:10px;
  -webkit-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.footer-btn:hover {
  // background-color: #383838;
  color: #07FACC !important;
  transition: all 200ms ease-in-out;
}
.footer-btn-active {
  -webkit-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  color: white !important;
  background-color: #04c09d;
}

.event_artist {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

.event_title {
  color: rgb(170, 170, 170);
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 200;
}

.event_date {
  font-size: 20px;
}

.theme_button {
  display: block;
margin-top: 10px;
margin-bottom: 10px;
background-color: #04c09d !important;
border-radius: 0px !important;
border-color: #04c09d !important;
text-align: left !important;
-webkit-transform: skew(-10deg, 0deg);
-ms-transform: skew(-10deg, 0deg);
transform: skew(-10deg, 0deg);
-webkit-transform-origin: 0% 50%;
-ms-transform-origin: 0% 50%;
transform-origin: 0% 50%;
-webkit-transition: -webkit-transform 500ms ease-in-out;
transition: -webkit-transform 500ms ease-in-out;
transition: transform 500ms ease-in-out;
transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
font-style: normal;
}

.theme_button:hover {
  // color: #30FDC1 !important;
  background-color: #07FACC !important;
  border-radius: 0px !important;
  border-color: #07FACC !important;
  transition: all 300ms ease-in-out;
}

.navbar-brand-center {
  transform: translateX(-50%);
  top:-5px;
  left: 50%;
  position: absolute;
}


.navbar-logo {
  width: 220px;
  height: 75px;
  // background-color: white;
  // background-image: url('images/streamshift_signet.png');
  background-image: url('images/streamshift_signet.png');
  background-size: contain;
  transition: background-image 500ms ease-in-out;
}


.navbar-logo:hover {
  width: 220px;
  height: 75px;
  // background-color: white;
  background-image: url('images/streamshift.png');
  background-size: contain;
  transition: background-image 500ms ease-in-out;
}


.pagination {
  color: #444 !important;
}

.page-link {
  background-color: #444 !important;
  color: white !important;
}

.page-item.active .page-link {
  background-color: white !important;
  border-color: white !important;
  color: black !important;
}

.cookie-consent {
    font-size: 0.9em;
    padding: 1em;
    background: #30FDC1;
    text-align: center;
}

.cookie-consent__message {
    display: inline-block;
    color: white;
}

.cookie-consent__message p {
    margin: 0;
}

.cookie-consent__agree {
    font-weight: bold;
    margin: 0 1em;
    padding: .5em 1em;
    color: white;
    background-color: #0E382C;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(217, 142, 0, 0.15);
}

.cookie-consent__agree:hover {
    background-color: #25C395;
}

.cookie-consent__agree:active {
    top: 1px;
}


@media only screen and (max-width: 1024px) {
  .grid-sizer-home, .grid-item-home {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .grid-sizer-home, .grid-item-home {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-sizer-home, .grid-item-home {
    width: 33%;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-sizer, .grid-item {
    width: 33%;
  }
}

@media only screen and (max-width: 600px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-sizer, .grid-item {
    width: 33%;
  }
}
